{% extends 'registration/base_auth.html' %}
{% load static %}

{% block title-auth %}
|  لینک فعال سازی حساب
{% endblock %}

{% block login %}
        <form class="login100-form validate-form" >
        
            <span class="login100-form-title p-b-55 myfont">
                   لینک فعال سازی حساب
            </span>

            <div class="wrap-input100 validate-input m-b-16">
 
                <p class="myfont">    
                    لینک فعال سازی به ایمیل شما ارسال شد ، با زدن رو لینک ، حساب کاربری شما فعال میشود.
                </p>
            </div>

            <a href="{% url 'login' %}" class="btn-face m-b-10 myfont">
                <i class="fa fa-sign-in"></i>
                    ورود
            </a>

            <a href="#" class="btn-google m-b-10">
				<img src="{% static 'registration/login/images/icons/icon-google.png' %}" alt="GOOGLE LOGIN">
					Google
			</a>
            
        </form>
{% endblock %}