{% extends 'registration/base_auth.html' %}
{% load widget_tweaks %}

{% block title-auth %}
	| رمز عبور جدید 
{% endblock %}

{% load static %}

{% block css_pass %}
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/css/password.css' %}">
{% endblock %}

		{% block login %}
				<form class="login100-form validate-form" method="post">
					{% csrf_token %}      
                    <!-- errors -->

						{% if form.non_field_errors %}
									
                            <div class="alert">
                                {% for error in form.non_field_errors %}
                                    <span>{{error}}</span>
                                {% endfor %}
                            </div>
                        {% endif %}

                    <!-- end errors -->
                  
					<span class="login100-form-title p-b-55 myfont">
							رمز عبور جدید
					</span>
					{% if validlink %}
						
						
						<div class="wrap-input100 validate-input m-b-16">
							{% render_field form.new_password1 class='input100 myfont' id='password' placeholder="گذرواژه" %}

							<span class="focus-input100"></span>
							<span class="symbol-input100">
								<span class="lnr lnr-lock"></span>
							</span>
							<span id="message">رمز شما <span id="strength"></span></span>

						</div>
                    	<!-- errors new_password1 -->

						{% if form.new_password1.errors %}
									
                            <div class="alert">
                                {% for error in form.new_password1.errors %}
                                    <span> گذرواژه :{{error}}</span>
                                {% endfor %}
                            </div>
                        {% endif %}

                        <!-- end errors new_password1 -->

						<div class="wrap-input100 validate-input m-b-16">
							{{form.new_password2|add_class:'input100 myfont'|remove_attr:'data-validate'|remove_attr:"required"|append_attr:'placeholder:تایید گذرواژه'}}
							<span class="focus-input100"></span>
							<span class="symbol-input100">
								<span class="lnr lnr-lock"></span>
							</span>
						</div>

						<!-- errors pass-->

						{% if form.new_password2.errors %}
											
							<div class="alert">
								{% for error in form.new_password2.errors %}
									<span> تایید گذرواژه : {{error}}</span>
								{% endfor %}
							</div>

						{% endif %}

						<!-- end errors pass -->

						<div class="contact100-form-checkbox m-l-4">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							<label class="label-checkbox100 myfont" for="ckb1">
								بخاطر سپاردن
							</label>
						</div>
						
						<div class="container-login100-form-btn p-t-25">
							<button class="login100-form-btn myfont">
								انجام
							</button>
						</div>

						<div class="text-center w-full p-t-42 p-b-22">
							
						</div>

					<a href="{% url 'password_reset' %}" class="btn-face m-b-10 myfont">
						<i class="fa fa-key"></i>
						فراموشی رمز عبور
					</a>

					<a href="#" class="btn-google m-b-10">
						<img src="{% static 'registration/login/images/icons/icon-google.png' %}" alt="GOOGLE LOGIN">
						Google
					</a>

		
					{% else %}

		
						<div class="text-center w-full p-t-42 p-b-22">
							<a class="txt1 myfont">
								لینک منقضی شده است دوباره تلاش کنید		<i class="fa fa-down"></i>
							</a>
						</div>
			
						<a href="{% url 'password_reset' %}" class="btn-face m-b-10 myfont">
							<i class="fa fa-key"></i>
							فراموشی رمز عبور
						</a>

						<a href="{% url 'social:begin' 'google-oauth2' %}" class="btn-google m-b-10">
							<img src="{% static 'registration/login/images/icons/icon-google.png' %}" alt="GOOGLE LOGIN">
							Google
						</a>

					{% endif %}
				</form>
		{% endblock %}

	
		{% block pass_strength %}
        

		<script>
			var password = document.getElementById('password');
			var msg = document.getElementById('message');
			var str = document.getElementById('strength');
	
			password.addEventListener('input', () => {
				if(password.value.length > 0){
					msg.style.display = 'block';
				}
				else{
					msg.style.display = 'none';
				}
				if (password.value.length < 4 ){
					str.innerHTML = 'ضعیف';
	
					msg.style.color = '#ff5925';
				}
				else if(password.value.length >= 4 && password.value.length < 8){
					str.innerHTML = 'متوسط';

					msg.style.color = '#d37000';
				}
				else if(password.value.length >= 8 ){
					str.innerHTML = 'قوی است اما از (@,$,#,!,%,-,...)استفاده کنید';
				
					msg.style.color = '#26d730';
				}
			})
		</script>        
	
	{% endblock %}