{% extends 'registration/base_auth.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title-auth %}
| بازیابی رمز عبور 
{% endblock %}

{% block login %}
        <form class="login100-form validate-form" method="post">
            {% csrf_token %}      
       

        
            <span class="login100-form-title p-b-55 myfont">
                تقاضای بازیابی رمز فرستاده شد
            </span>

            <div class="wrap-input100 validate-input m-b-16">
 
                <p class="myfont">
                                   
                دستورالعمل تنظیم گذرواژه را برایتان ایمیل کردیم. اگر با ایمیلی که وارد کردید اکانتی وجود داشته باشد باید به زودی این دستورالعمل‌ها را دریافت کنید.

                اگر ایمیلی دریافت نمی‌کنید، لطفاً بررسی کنید که آدرسی که وارد کرده‌اید همان است که با آن ثبت نام کرده‌اید، و پوشهٔ اسپم خود را نیز چک کنید.

                </p>
            </div>

            <div class="text-center w-full p-t-42 p-b-22">
              
            </div>
    
            <a href="{% url 'login' %}" class="btn-face m-b-10 myfont">
                <i class="fa fa-sign-in"></i>
                    ورود
            </a>

            <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn-google m-b-10">
				<img src="{% static 'registration/login/images/icons/icon-google.png' %}" alt="GOOGLE LOGIN">
					Google
			</a>
        </form>
{% endblock %}