{% extends 'blog/list.html' %}
{% block title %}
| {{search}}     
{% endblock %}
{% block header %}
    <!-- page header ================================================== -->
            <div class="s-pageheader">
                <div class="row">
                    <div class="column large-12">
                        <h1 class="page-title font">
                            <span class="page-title__small-type font ">جستجو برای : {{search}}</span>
                        </h1>
                    </div>
                </div>
            </div> <!-- end s-pageheader-->
{% endblock %}


{% block previous_url %}
    {% url 'blog:search' page_obj.previous_page_number %}?q={{search}} 
{% endblock %}

{% block page_obj_number_current %}
    {% url 'blog:search' page_obj.number %}?q={{search}} 
{% endblock %}

{% block page_obj_number%}
    {% url 'blog:search' i %}?q={{search}} 
{% endblock %}

{% block num_pages_dot %}
    {% url 'blog:search' page_obj.number %}?q={{search}} 
{% endblock %}

{% block num_pages_dot_2 %}
    {% url 'blog:search' page_obj.paginator.num_pages %}?q={{search}} 
{% endblock %}

{% block next_url %}
    {% url 'blog:search' page_obj.next_page_number %}?q={{search}} 
{% endblock %}